body {
    width: 100%;
    height:100%;
    background-color: #221f1f;
}

.wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
}

.page-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#logo {
    font-family: "Times New Roman";
    font-size: 40px;
    text-underline: none;
}

#sup {
    font-family: "Times New Roman";
    font-size: 20px;
}

#leftbar {
    min-width: 20%;
    height: 200vh;
    background-color: lightgray;
    float: left;
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

#postlks {
    list-style-type: none;
    margin-right: 50px;
}

#calendar {
    height: 30%;
    width: 20%;
    margin-top: 20px;
}

#nav {
    width: 54.5%;
    height: 15%;
    position: relative;
    list-style-type: none;
    margin-top: 0;
    margin-right: 0;
    margin-left: 347px;
    margin-bottom: 0;
}
#nav h2 {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    background-color: lightgray;
    text-align:center;
}

#center .community{
    position: relative;
    min-width: 20%;
    margin-left: 10px;
    height: 100%;
    float: left;
    display: inline;
}

#center .housing {
    min-width: 20%;
    height: 100%;
    margin-left: 10px;
    float:left;
    display: inline;
}

#center .jobs {
    min-width: 13%;
    height: 100%;
    margin-left: 10px;
    float:left;
    display: inline;
}

#center .community .ban {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    background-color: lightgray;
    text-align: center;
}


#center .community .ban a {
    text-decoration: none;
}

#center .housing .ban {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    background-color: lightgray;
    text-align: center;
}

#center .housing .ban a {
    text-decoration: none;
}

#center .jobs .ban {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    background-color: lightgray;
    text-align: center;
}

#center .jobs .ban a {
    text-decoration: none;
}

#center .community #forums li {
    font-size: 15px;
}

#center ul {
    list-style-type: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#center ul a {
    text-decoration: none;

    color: #cccccc;
}

#center li {
    border-bottom: 1px solid black;
    font-size: 15px;
}

#center .col {
    background-color: gray;
}

#rightbar {
    position: fixed;
    top: 20px;
    right: 150px;
    min-width: 15%;
    height: 80vh;
    background-color: lightgray;
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
